img.main__img(src="https://tr-images.condecdn.net/image/vx5gjarjVLW/crop/1020/f/giant-panda-mother-and-cub-72dpi-3000px-mar20-tim.jpg", alt="polar bear") 
div(class="main" id="about")

    h1.main__title ENDANGERED ANIMALS
    p.main__subtitle PROVE JUST HOW SPECIAL THEY ARE
    p.main__general-info The idea that the natural world is vulnerable has only entered the modern general consciousness in the last few decades. Throughout history, nature has been considered an immeasurably vast and infinitely bountiful resource; but today the power structures have changed, and the natural world depends on us as much as we depend on it.
    p.main__general-info These are the extraordinary stories of endangered species, along with each animal's location and IUCN Red List status – the world's most comprehensive inventory of the global conservation status of different species.