doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gallery
    body 
        include ../components/header/header.pug
        .flex
                .flex__block
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/darwin-frog-extinct-s2048x1354-p.jpg?resize=500,330&quality=82&strip=all", alt="Northern Darwin's Frog")
                        p.flex__photoname Northern Darwin's Frog
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/Dfku6r8X4AAk7-p.jpg?resize=500,339&quality=82&strip=all", alt="Rondo Dwarf Galago")
                        p.flex__photoname Rondo Dwarf Galago
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/31ccc812fe3bf0432403dfc5b4f37d36-the-virgin-islands-british-virgin-islands.jpg?resize=500,325&quality=82&strip=all", alt="Dwarf Gecko")
                        p.flex__photoname Dwarf Gecko
                .flex__block
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/sole23.jpg?resize=500,325&quality=82&strip=all", alt="Hispaniolan Solenodon")
                        p.flex__photoname Hispaniolan Solenodon
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/Pangolin_Keith-Coleen-Begg-2.jpg?resize=500,400&quality=82&strip=all", alt="Pangolin")
                        p.flex__photoname Pangolin
                .flex__block
                    .flex__item
                        img(class="flex__photo" src="https://k6u8v6y8.stackpathcdn.com/blog/wp-content/uploads/2018/03/Less-Focused-Endangered-Species-of-India.png", alt="Red Panda")
                        p.flex__photoname Red Panda
                .flex__block
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/Rhynchocyon_petersi_from_side.jpg?resize=500,333&quality=82&strip=all", alt="Elephant Shrew")
                        p.flex__photoname Elephant Shrew
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/Taliger_at_G.W._Park.jpg?resize=500,333&quality=82&strip=all", alt="Ti-Liger")
                        p.flex__photoname Ti-Liger
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/9547-wombat-parish.jpg?resize=500,336&quality=82&strip=all", alt="Wombat")
                        p.flex__photoname Wombat
                .flex__block
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/DJL8Pi-XgAA4KMl.jpg?resize=500,442&quality=82&strip=all", alt="Cebu Flowerpecker")
                        p.flex__photoname Cebu Flowerpecker
                    .flex__item
                        img(class="flex__photo" src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/11/Chacoan_Peccary.jpg?resize=500,343&quality=82&strip=all", alt="Chacoan Peccary")
                        p.flex__photoname Chacoan Peccary
        include ../components/footer/footer.pug