header.header 
    nav.nav
        div(class='icon nav-icon-1')
            span 
            span 
            span 
            span 
            span 
            span 
            span 
            span 
            span 
        ul(class="menu hidden") 
            li.menu__item
                a(href="../index.html").menu__link  Home
            li.menu__item
                a(href="#species").menu__link Endangered Species
            li.menu__item
                a(href="../flex.html").menu__link Gallery
            li.menu__item
                a(href="../grid.html").menu__link Almost Extinct
            li.menu__item
                a(href="#contacts").menu__link Contacts