$blue: #22a6f3e5;

@mixin flex {
  display: flex;
  justify-content: flex-end;
}

@mixin flex2 {
  display: flex;
  justify-content: space-around;
}

.header {
  background-color: $blue;
  position: relative;
}

.nav {
  @include flex;
}

.menu {
  list-style: none;
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.menu__item {
  padding: 15px;
  font-size: 1.5rem;
}

.menu__link {
  text-decoration: none;
  color: #02050ce7;
}

.hidden {
  display: none;
}

/* burger icon */

.icon {
  margin: 20px;
}

.nav-icon-1 {
  width: 30px;
  height: 30px;
  position: relative;
  transition: 0.1s;
  margin: 10px 20px 10px 10px;
  cursor: grab;
  display: inline-block;
}
.nav-icon-1 span {
  width: 5px;
  height: 5px;
  background-color: rgb(17, 17, 17);
  display: block;
  border-radius: 50%;
  position: absolute;
}

.nav-icon-1 span:nth-child(1) {
  left: 0;
  top: 0;
}
.nav-icon-1 span:nth-child(2) {
  left: 12px;
  top: 0;
}
.nav-icon-1 span:nth-child(3) {
  right: 0;
  top: 0;
}
.nav-icon-1 span:nth-child(4) {
  left: 0;
  top: 12px;
}
.nav-icon-1 span:nth-child(5) {
  position: absolute;
  left: 12px;
  top: 12px;
}
.nav-icon-1 span:nth-child(6) {
  right: 0px;
  top: 12px;
}
.nav-icon-1 span:nth-child(7) {
  left: 0px;
  bottom: 0px;
}
.nav-icon-1 span:nth-child(8) {
  position: absolute;
  left: 12px;
  bottom: 0px;
}
.nav-icon-1 span:nth-child(9) {
  right: 0px;
  bottom: 0px;
}
.nav-icon-1.open {
  transform: rotate(180deg);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.nav-icon-1.open span {
  border-radius: 50%;
  transition-delay: 200ms;
  transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.nav-icon-1.open span:nth-child(2) {
  left: 6px;
  top: 6px;
}
.nav-icon-1.open span:nth-child(4) {
  left: 6px;
  top: 18px;
}
.nav-icon-1.open span:nth-child(6) {
  right: 6px;
  top: 6px;
}
.nav-icon-1.open span:nth-child(8) {
  left: 18px;
  bottom: 6px;
}

@media screen and (min-width: 1000px) {
  .icon {
    display: none;
  }

  .hidden {
    display: block;
  }

  .nav {
    width: 1000px;
    margin: 0 auto;
  }

  .menu {
    position: static;
    top: 0;
    height: 50px;
    background-color: $blue;
    @include flex2;
  }
}
