.footer {
    text-align: center;
}

.footer__title {
    padding: 20px;
    font-size: 30px;
}

.footer__rights,
.footer__info {
    color:darkcyan;
    font-size: 20px; 

}

@media screen and (max-width: 1000px) {
    .footer__title {
        font-size: 20px;
    }
} 